
<footer class="footer" id="iletisim">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Tokat Detaylı İletişim</h3>
                    </div>
                    <ul class="footer-links">

                        <li> +90 356 222 11 00 <br /> tokat@dinamikokullari.com</li>
                        <li>
                            Organize Sanayi Bölgesi 2. Kısım 6. Cadde No: 6
                            Merkez - Tokat
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Samsun Detaylı İletişim</h3>
                    </div>
                    <ul class="footer-links">

                        <li>+90 546 776 50 60 <br /> samsun@dinamikokullari.com</li>
                        <li>
                            SAMSUN ADRES
                            Toybelen Mahallesi Ankara yolu üzeri Anadolu Bulvarı No:225
                            İlkadım - Samsun
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Konya Detaylı İletişim</h3>
                    </div>
                    <ul class="footer-links">
                        <li>+90 534 882 60 42 <br /> konya@dinamikokullari.com</li>
                        <li>
                            Fevzi Çakmak Mahallesi Ankara Caddesi No:190
                            (Gökmen Volkswagen Plaza Yanı)
                            Karatay - Konya
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>