
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header tit-up">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Misafir Giriş</h4>
            </div>
            <div class="modal-body customer-box">
                <ul class="nav nav-tabs">
                    <li><a class="active" href="#Login" data-toggle="tab">Oturum Aç</a></li>
                    <li><a href="#Registration" data-toggle="tab">Ücretsiz Kaydol</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="Login">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" id="email1" placeholder="adı" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" id="exampleInputPassword1" placeholder="e-Posta" type="email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-light btn-radius btn-brd grd1">
                                        Kaydol
                                    </button>
                                    <a class="for-pwd" href="~/javascript:;">Parolamı Unuttum</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="Registration">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" placeholder="İsim" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" id="email" placeholder="Mail Adresi" type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" id="mobile" placeholder="Cep Telefonu" type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" id="password" placeholder="Şifre" type="password">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <button type="button" class="btn btn-light btn-radius btn-brd grd1">
                                        Kaydet &amp; Devam
                                    </button>
                                    <button type="button" class="btn btn-light btn-radius btn-brd grd1">
                                        İptal
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- LOADER -->
<div id="preloader">
    <div class="loader-container">
        <div class="progress-br float shadow">
            <div class="progress__item"></div>
        </div>
    </div>
</div>
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="~/images/logom.png" style="width:100px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-host">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="~/">Anasayfa</a></li>
                    <li class="nav-item"><a class="nav-link" href="#hakkimizda">Hakkımızda</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Kampüslerimiz </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="https://tokat.dinamikokullari.com/" target="_blank">Tokat Kampüsü </a>
                            <a class="dropdown-item" href="https://samsun.dinamikokullari.com/" target="_blank">Samsun Kampüsü </a>
                            <a class="dropdown-item" href="https://konya.dinamikokullari.com/" target="_blank">Konya Kampüsü </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Galeri </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="https://tokat.dinamikokullari.com">Tokat Kampüsümüz </a>
                            <a class="dropdown-item" href="https://samsun.dinamikokullari.com">Samsun Kampüsümüz </a>
                            <a class="dropdown-item" href="https://konya.dinamikokullari.com">Konya Kampüsümüz </a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Projeler</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/iletisim">iletişim</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="hover-btn-new log orange" href="#" data-toggle="modal" data-target="#login"><span>Giriş Yap</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>