
@{
    ViewBag.Title = "Dinamik Okulları";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleControls" data-slide-to="1"></li>
        <li data-target="#carouselExampleControls" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div id="home" class="first-section opak" style=" background-image: url('../../images/bilisim-teknolojileri-ücretsiz-okul.jpg');">
                <div class="dtab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-right">
                                <div class="big-tagline">
                                    <h2><strong>Dinamik </strong>Ücretsiz Özel Mesleki ve Teknik Anadolu Lisesi</h2>
                                    <p class="lead">Devlet Destekli Eğitim Ücretsiz Özel Mesleki ve Teknik Anadolu Lisesi </p>
                                    <a href="" class="hover-btn-new"><span>Bize Ulaş</span></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="~/#" class="hover-btn-new"><span>Daha Fazla</span></a>
                                </div>
                            </div>
                        </div><!-- end row -->
                    </div><!-- end container -->
                </div>
            </div><!-- end section -->
        </div>
        <div class="carousel-item">
            <div id="home" class="first-section opak" style=" background-image: url('../../images/elektrik-elektronik-teknolojileri-ücretsiz-okul.jpg');">

                <div class="dtab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-left">
                                <div class="big-tagline">
                                    <h2 data-animation="animated zoomInRight">Dinamik <strong>Mesleki ve Teknik Anadolu Lisesi</strong></h2>
                                    <p class="lead" data-animation="animated fadeInLeft">Devlet Destekli Eğitim Ücretsiz Özel Mesleki ve Teknik Anadolu Lisesi </p>
                                    <a href="https://tokat.dinamikokullari.com/bize-ulasin" class="hover-btn-new"><span>Bize Ulaş</span></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="#" class="hover-btn-new"><span>Daha Fazla</span></a>
                                </div>
                            </div>
                        </div><!-- end row -->
                    </div><!-- end container -->
                </div>
            </div><!-- end section -->
        </div>
        <div class="carousel-item">
            <div id="home" class="first-section opak" style="background-image: url('../../images/kimya-teknolojileri-ücretsiz-okul.jpg');">
                <div class="dtab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center">
                                <div class="big-tagline">
                                    <h2 data-animation="animated zoomInRight"><strong>Dinamik</strong> Okulları</h2>
                                    <p class="lead" data-animation="animated fadeInLeft">
                                        Dinamik Okulları
                                        Mesleki ve Teknik Anadolu Lisesi
                                        Ücretsiz Özel Okul
                                    </p>
                                    <a href="#" class="hover-btn-new"><span>Bize Ulaş</span></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="#" class="hover-btn-new"><span>Daha Fazla</span></a>
                                </div>
                            </div>
                        </div><!-- end row -->
                    </div><!-- end container -->
                </div>
            </div><!-- end section -->
        </div>
        <a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Geri</span>
        </a>

        <a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">İleri</span>
        </a>
    </div>
</div>
<div id="overviews" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-10 offset-md-2">
                <h3 id="hakkimizda">Hakkımızda</h3>
                <p class="lead">
                    Dinamik Mesleki ve Teknik Anadolu Lisesi’nde Elektrik-Elektronik Teknolojisi, Bilişim Teknolojileri ve Kimya Teknolojisi olmak üzere 3 alan bulunmaktadır.

                    Kolej seviyesinde 4 yıl eğitim ve öğretim verecek olan okulumuz 600 öğrenci kapasiteli olup okulumuzda 26 derslik, Elektrik-Elektronik Teknolojileri ile Kimya Teknolojileri atölyeleri ve laboratuvarları, 200 kişi kapasiteli konferans salonu, kütüphane, okuma salonu, çok amaçlı kapalı spor salonu, açık alan futbol, basketbol ve voleybol sahaları, kafeterya, yemekhane bulunmaktadır.

                    Verilecek eğitimler sadece sınıflarda değil, protokol anlaşmalı olduğumuz sanayi kuruluşlarında ve alanlarımıza hitap eden atölye ile iş yerlerinde de desteklenecek olan eğitimlerimiz çerçevesinde teorik ve pratik eğitim bir arada yürütülecektir.

                    Dinamik Mesleki ve Teknik Anadolu Lisesi, özel bir okul olmasına karşın öğrencilerimizden herhangi bir eğitim ücreti talep etmemektedir.

                    Kalifiye ve nitelikli eleman dünyanın neresine giderse gitsin iş bulabilecek

                    100 sanayi kuruluşuna sahip olan ilimizde ve ilçelerimizde, nitelikli ve donanımlı yetişen hiçbir elemanın açıkta kalmayacağını düşünerek diploma alan öğrencilerimiz mezun olduklarında iş bulma sıkıntısı yaşamayacaklardır. Okulumuzdan dil öğrenerek ve seçtikleri alanlarda yetkin birer birey olarak mezun olup iş dünyasına katılacaklar, ayrıca üniversite eğitimine devam etmek isteyen öğrencilerimiz yükseköğrenimine devam edebileceklerdir.

                    Dinamik Bir Eğitim! Hem de ÜCRETSİZ!

                    İlklerin öncülüğünü yapan iş adamı <strong>Fatih AYDIN</strong>, örnek okul projesiyle Tokat’ın ilk ve tek özel sağlık meslek lisesinden sonra yine Tokat’ın ilk ve tek özel mesleki ve teknik anadolu lisesini açmakla hem ilimiz sanayicisine hem de eğitime katkı sağlamaktadır. Üstelik ücretsiz eğitim veren bir okul olarak siz değerli velilerimize de çocuklarınızın geleceğini inşa etmenizde katkıda bulunuyor olmanın gururunu yaşıyoruz.
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="message-box">
                    <h4>Dinamik Eğitim Kurumları</h4>
                    <h2>Dinamik Okullarına Hoşgeldiniz</h2>
                    <p>Tokat Belediye Başkanımız Sayın Av. Eyüp Eroğlu Okulumuzu Ziyaret Etti</p>

                    <p>
                        Kariyer Günler Kapsamında Tokat Belediye Başkanımız Sayın Av. Eyüp Eroğlu okulumuzu ziyaret ederek güzel bir söyleşi gerçekleştirdi.

                    </p>

                    <a href="#" class="hover-btn-new orange"><span>Daha Fazla Öğren</span></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="~/images/about_02.jpg" alt="" class="img-fluid img-rounded">
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="~/images/Gazi Ziyaret.png" alt="" class="img-fluid img-rounded">
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="message-box">
                    <h2>Gazi Ünivsersitesi Teknoloji Fakültesi Ziyaretimiz</h2>
                    <p>Gazi Ünivsersitesi Tekonololji Fakültesine MTOK ziyareti gerçekleştirdik. MTOK kontejanından faydalanarak Elektrik-Elektronik, Kimya ve Bilişim Alanı Mühendis Adayı Öğrencilerimiz Gazi Üniversitesini ziyaret ederk geleceğe bir adım attılar.</p>

                    <p> Gazi Ünivsersitesi yetkililerine içten ilgi ve yardımlarndan dolayı teşekkür eder önümüzdeki yıllarda öğrenci bağı da kurarak güçlü bir geleceğe adım atmanın onurunu yaşarız.</p>

                    <a href="#" class="hover-btn-new orange"><span>Daha Fazla Öğren</span></a>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="section lb page-section">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <h3>Vizyonumuz</h3>
                <p class="lead">Katılımcılığı ve takım çalışmasını benimseyen, ezberden çok öğrenmeye ve araştırmaya ağırlık veren, eğitim öğretim kalitesinden ödün vermeyen, gelişimini rekabetçi bir anlayış içinde sürdürerek ulusal ve uluslararası bilim ve eğitim çevrelerinde örnek teşkil edecek, iç ve dış paydaşları ile etkili bir iletişim ve işbirliği sağlayan, ülkemizin ekonomik, sosyal, bilimsel ve kültürel kalkınmasına katkı sağlayacak lider bir kurum olmak.</p>
            </div>
        </div><!-- end title -->
        <div class="timeline timeline--loaded timeline--mobile" style="opacity: 1;">
            <div class="timeline__wrap">
                <div class="timeline__items">
                    <div class="timeline__item timeline__item--top timeline__item--left">
                        <div class="timeline__item__inner">
                            <div class="timeline__content__wrap">
                                <div class="timeline__content img-bg-01">
                                    <h2>Kalite Politikamız</h2>
                                    <p>
                                        Sürekli iyileşme ve gelişme anlayışını benimsemek.
                                        Tüm çabamız öğrencilerimizin başarısı, velilerimiz ve çalışanlarımızın mutluluğu içindir. Velisi ile bütünleşmiş, birlikte yöneten, öğretmenine kendini daha iyi yetiştirme ve ilerleme imkanı sağlayan, bütün çalışanları ile sıcak bir aile ortamı oluşturan bir anlayışın sahibiyiz.
                                        Eğitime önem vererek bölgenin ilk ve tek ücretsiz okul olmanın gururunu yaşıyoruz
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline__item timeline__item--bottom animated timeline__item--left">
                        <div class="timeline__item__inner">
                            <div class="timeline__content__wrap">
                                <div class="timeline__content img-bg-02">
                                    <h2>Misyonumuz</h2>
                                    <p>
                                        Evrensel değerler ışığında; ülkemiz ve insanların ihtiyaç duyduğu bilgi, beceri ve yeteneklerle donatılmış, milli manevi değerlere bağlı, akılcı, sorgulayan, hoşgörülü, yenilikçi ve yaratıcı; topluma karşı sevgi ve sorumluluk duygusuna sahip üstün nitelikli bireyler yetiştirmek; evrensel boyutta bilgiye ulaşmak, bilgi üretmek ve bunları toplumun yararına sunmak.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline__item timeline__item--top animated timeline__item--left">
                        <div class="timeline__item__inner">
                            <div class="timeline__content__wrap">
                                <div class="timeline__content img-bg-03">
                                    <h2>Rehberlik Anlayışı</h2>
                                    <p>
                                        Rehberlik ve Psikolojik Danışmanlık hizmetleri;
                                        bireye, kendini ve başkalarını anlama, yeteneklerini kullanma,
                                        doğru tercihler yapma, insan ilişkilerinde karşılaştığı sorunlara çözüm bulma,
                                        yaşamını ve geleceğini planlama becerilerini kazandırır.
                                        Günümüzde eğitim ve öğretimin ayrılmaz bir parçası ve bütünleyicisi olan Rehberlik ve Psikolojik Danışmanlık Hizmetleri;
                                        bireysel, eğitsel, sosyal ve mesleki anlamda öğrenci ve veliye yapılan profesyonel yardım ve destek faaliyetleridir.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline__item timeline__item--bottom animated timeline__item--left">
                        <div class="timeline__item__inner">
                            <div class="timeline__content__wrap">
                                <div class="timeline__content img-bg-04">
                                    <h2>Başarı Nedir?</h2>
                                    <p>
                                        Başarı: “Kişinin yetenek ve yetişmeye bağlı olarak gösterdiği ansal ya da eylemsel etkinliklerinin olumlu ürünü, bir işi istenilen biçimde bitirmek, elde etmek, istediğini bulmak.” olarak açıklanmaktadır.

                                        Başarının anlamı kişiden kişiye bireyin yaşına, bulunduğu çevreye, kişilik özelliklerine ve daha birçok nedene bağlı olarak farklılaşmaktadır.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline__item timeline__item--top animated timeline__item--left">
                        <div class="timeline__item__inner">
                            <div class="timeline__content__wrap">
                                <div class="timeline__content img-bg-01">
                                    <h2>Dikkat Dağınıklığı</h2>
                                    <p>
                                        Belirli orandaki dikkat, beynin bilgiyi işlemesi, anlamlandırması ve kullanması için vazgeçilemez temel koşullardan biridir.

                                        Öğrenciler, sistematik tekrar yaparak hatırlama fonksiyonlarını artırırken dikkatlerinin de artacağını bilmelidirler.

                                        Öğrenciler yine, hiçbir ödevi yarım bırakmadıkları ve onu kesinlikle tamamladıkları durumda dikkatlerinin artacağını göreceklerdir.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline__item timeline__item--bottom animated timeline__item--left">
                        <div class="timeline__item__inner">
                            <div class="timeline__content__wrap">
                                <div class="timeline__content img-bg-02">
                                    <h2>Dikkat toplama yöntemleri</h2>
                                    <p>
                                        Çalışmak için ilkönce gerekli kararları vermelisiniz:
                                        Hangi ders daha önce çalışılacak hangi yöntemlerle çalışılacak vb. sorulara cevap bulduktan sonra çalışmaya başlayın.
                                        Çalışma öncesi hem vücut hem zihin olarak yeterince dinlenmiş olun.
                                        Çalışma amacınızı saptayın. Amaçsız çalışma olmaz çalışırken bir amacınız varsa derslerinizi daha iyi benimseyip dikkatinizi daha kolay yoğunlaştırabilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline__item timeline__item--top animated timeline__item--left">
                        <div class="timeline__item__inner">
                            <div class="timeline__content__wrap">
                                <div class="timeline__content img-bg-03">
                                    <h2>
                                        OLUMLU İLETİŞİM ÇOCUĞUN DİKKATİNİ ARTTIRIR
                                    </h2>
                                    <p>
                                        Çocuğun olumsuz tutumu ya da ders başarısındaki düşüş karşısında, ona karşı olumsuz bir duruş sergilemek, onu hep eleştirmek, öfkeye kapılmak, çocuğun dikkat ve konsantrasyonunu tamamen bozmaktadır.

                                        Dikkat sorunu yaşayan çocuklarda öncelikle, özgüven veren ve onun kendi benliğine olan saygısını arttıracak davranışları ortaya koymak gerekir.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline__item timeline__item--bottom animated timeline__item--left">
                        <div class="timeline__item__inner">
                            <div class="timeline__content__wrap">
                                <div class="timeline__content img-bg-04">
                                    <h2>Sınav Kaygısı</h2>
                                    <p>
                                        “Sınavlardan önce uykularım kaçıyor”, “Sınav benim için bir kâbus”, “Sınavlarda heyecandan dikkatimi toplayamıyorum” “O kadar heyecanlanıyorum ki, soruları doğru dürüst okuyamıyorum. Doğru cevabı bilsem bile yanlış şıkkı işaretleyebiliyorum” Sınav hazırlığındaki birçok öğrencinin bu sözleri dile getirdiği görülmektedir.

                                        Sınav stresi; ders çalışma sürecinin yeterince iyi kullanılmamış olması ve sınav sonucuyla ilgili olumsuz kötücül fantezilerin kuruluyor olması (başarılı olamayacağım, ne kadar çalışsam da istediğim puanı alamam gibi) sonucunda fizyolojik tepkiler ve konsantrasyon  güçlüğü şeklinde ortaya çıkan bir durumdur.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="timeline-divider" style="top: 273px;"></span>
        </div>
    </div>
</section>

<div class="section cl">
    <div class="container">
        <div class="row text-left stat-wrap">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-study"></i></span>
                <p class="stat_count">10000</p>
                <h3>Öğrencimiz</h3>
            </div><!-- end col -->

            <div class="col-md-4 col-sm-4 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-online"></i></span>
                <p class="stat_count">5</p>
                <h3>Kampüsümüz</h3>
            </div><!-- end col -->

            <div class="col-md-4 col-sm-4 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-years"></i></span>
                <p class="stat_count">15</p>
                <h3>Yıldır Birlikteyiz</h3>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="testimonials" class="parallax section db parallax-off" style="background-image:url('~/images/parallax_04.jpg');">
    <div class="container">
        <div class="section-title text-center">
            <h3>M.T.O.K Nedir?</h3>
            <p>...</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p>
                    Mesleki ve Teknik Ortaöğretim Kurumlarının kısaltılmasıdır. Üniversite kılavuzunda bir bölümün yanında eğer M.T.O.K. yazıyorsa; bu, o bölüme yalnızca ilgili mesleki ve teknik liselerden mezun olan öğrencilerin yerleşebileceği anlamına gelir. M.T.O.K. uygulamasından önce LYS puan türüyle öğrenci alan özellikle mühendislik gibi bölümlerde meslek ve teknik lise öğrencilerinin girmesi bir hayli zordu. Meslek lisesi ve teknik liselerde okuyan öğrencilerin 9. sınıftan sonra daha çok meslek dersi alması bunun yanında LYS sınavının içeriğini oluşturan ders ve konuların büyük çoğunluğunu görmemesi, bu öğrencileri yarışta geride bırakıyordu. M.T.O.K. uygulamasıyla getirilen yenilik bu okullara sadece ilgili mesleki ve teknik ortaöğretim kurumlarından mezun öğrencilerin yerleşebilmesidir. Bu sayede teknoloji fakülteleri kurularak başta mühendislik bölümleri olmak üzere meslek ve teknik lise mezunu öğrencilere daha bir çok bölümün önü açılmıştır. M.T.O.K. bölümlerine o alana giriş hakkı olan mesleki teknik eğitim öğrencileri dışında başka mesleki teknik eğitim öğrencileri ve normal lise eğitimi almış öğrenciler (Düz, Anadolu, Fen, Sosyal Bilimler lisesi vb. ) seçim yapamazlar, tercih yapıp M.T.O.K. bölümlerini kazansalar bile bu bölümlerde okuyamazlar. Bu M.T.O.K. bölümlerini tercih edecek mesleki ve teknik eğitim almış öğrencilerin OBP (ortaöğretim başarı puanları) 0,12 ile çarpılır ve bunun dışında ek puan ya da ayrıcalık tanınmaz.

                    Bu fakültelere yerleşen öğrenciler eksik oldukları matematik ve fen dersleri için bir yıl intibak eğitimi alacaklardır. Bu fakültelerde eğitim daha çok uygulamaya dayalı olacaktır. 8 dönemlik eğitimlerinin son döneminde bu öğrenciler iş yeri eğitimi alacaklardır
                </p><!-- end carousel -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div>
